*,
:before,
:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, #8783a1, #34304e);
    display: flex;
    align-items: center;
    justify-content: center;
}
.password{
    background-color: #343d3f;
    color: #fff;
    height: 70px;
    width: 320px;
    position: relative;
    border-radius: 5px;
    z-index: 0;
    box-shadow: 0 20px 30px rgba(7, 55, 122, 0.5);
    overflow: hidden;
}
input{
    width: 270px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: sans-serif;
    color: #7868e6;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    z-index: 2;
    padding-left: 30px;
}
#eye-wrapper{
    background-color: #ffffff;
    height: 28px;
    width: 28px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 15px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
}
#open,
#close{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0.5px;
    width: 25px;
}
#open{
    display: none;
}
.email{
    background-color: #343d3f;
    color: #fff;
    height: 70px;
    width: 320px;
    position: relative;
    border-radius: 5px;
    z-index: 0;
    box-shadow: 0 20px 30px rgba(7, 55, 122, 0.5);
    overflow: hidden;
}
.submit{
    background-color: #343d3f;
    color: #fff;
    height: 50px;
    width: 170px;
    position: relative;
    border-radius: 5px;
    z-index: 0;
    box-shadow: 0 20px 30px rgba(7, 55, 122, 0.5);
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    margin: 0 0 0 75px;
}
.submit:active{
    background-color: #5d45e2;
    transition: .1s;
}
.footer{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    margin-left: 85px;
    margin-top: 10px;
}
#pp{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0 20px 30px rgba(7, 55, 122, 0.5);
}
.header{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 90px;
}
.header p{
    color: azure;
}